allow sdcardd userdata_block_device:blk_file r_file_perms;

allow sdcardd adsprpcd_exec:file getattr;
allow sdcardd atrace_exec:file getattr;
allow sdcardd audiod_exec:file getattr;
allow sdcardd audioserver_exec:file getattr;
allow sdcardd blkid_exec:file getattr;
allow sdcardd bootanim_exec:file getattr;
allow sdcardd bootstat_exec:file getattr;
allow sdcardd btnvtool_exec:file getattr;
allow sdcardd btsnoop_exec:file getattr;
allow sdcardd cameraserver_exec:file getattr;
allow sdcardd clatd_exec:file getattr;
allow sdcardd cnd_exec:file getattr;
allow sdcardd debuggerd_exec:file getattr;
allow sdcardd dex2oat_exec:file getattr;
allow sdcardd dnsmasq_exec:file getattr;
allow sdcardd dpmd_exec:file getattr;
allow sdcardd drmserver_exec:file getattr;
allow sdcardd dumpstate_exec:file getattr;
allow sdcardd energyawareness_exec:file getattr;
allow sdcardd fingerprintd_exec:file getattr;
allow sdcardd fsck_exec:file getattr;
allow sdcardd fstman_exec:file getattr;
allow sdcardd gatekeeperd_exec:file getattr;
allow sdcardd hostapd_exec:file getattr;
allow sdcardd hvdcp_exec:file getattr;
allow sdcardd idmap_exec:file getattr;
allow sdcardd ims_exec:file getattr;
allow sdcardd imscm_exec:file getattr;
allow sdcardd install_recovery_exec:file getattr;
allow sdcardd installd_exec:file getattr;
allow sdcardd ipacm-diag_exec:file getattr;
allow sdcardd ipacm_exec:file getattr;
allow sdcardd irsc_util_exec:file getattr;
allow sdcardd keystore_exec:file getattr;
allow sdcardd rfs_system_file:dir { getattr open read };
allow sdcardd wcnss_service_exec:file getattr;
allow sdcardd zygote_exec:file getattr;
allow sdcardd lmkd_exec:file getattr;
allow sdcardd location_exec:file getattr;
allow sdcardd logcat_exec:file getattr;
allow sdcardd logd_exec:file getattr;
allow sdcardd mbn_daemon_exec:file getattr;
allow sdcardd mdnsd_exec:file getattr;
allow sdcardd mediacodec_exec:file getattr;
allow sdcardd mediadrmserver_exec:file getattr;
allow sdcardd mediaextractor_exec:file getattr;
allow sdcardd mediaserver_exec:file getattr;
allow sdcardd mkfs_exec:file getattr;
allow sdcardd mm-qcamerad_exec:file getattr;
allow sdcardd msm_irqbalanced_exec:file getattr;
allow sdcardd mtp_exec:file getattr;
allow sdcardd netd_exec:file getattr;
allow sdcardd netmgrd_exec:file getattr;
allow sdcardd per_mgr_exec:file getattr;
allow sdcardd perfprofd_exec:file getattr;
allow sdcardd ppp_exec:file getattr;
allow sdcardd profman_exec:file getattr;
allow sdcardd qfp-daemon_exec:file getattr;
allow sdcardd qmuxd_exec:file getattr;
allow sdcardd racoon_exec:file getattr;
allow sdcardd rfs_access_exec:file getattr;
allow sdcardd rfs_system_file:dir search;
allow sdcardd rild_exec:file getattr;
allow sdcardd rmt_storage_exec:file getattr;
allow sdcardd runas_exec:file getattr;
allow sdcardd sensors_exec:file getattr;
allow sdcardd servicemanager_exec:file getattr;
allow sdcardd sgdisk_exec:file getattr;
allow sdcardd shell_exec:file getattr;
allow sdcardd su_exec:file getattr;
allow sdcardd surfaceflinger_exec:file getattr;
allow sdcardd tee_exec:file getattr;
allow sdcardd time_daemon_exec:file getattr;
allow sdcardd wifi_mac_exec:file getattr;
allow sdcardd mm-pp-daemon_exec:file getattr;
allow sdcardd pd_mapper_exec:file getattr;
allow sdcardd perfd_exec:file getattr;
allow sdcardd qseeproxy_exec:file getattr;
allow sdcardd qti_exec:file getattr;
allow sdcardd thermal-engine_exec:file getattr;
allow sdcardd toolbox_exec:file getattr;
allow sdcardd tzdatacheck_exec:file getattr;
allow sdcardd uncrypt_exec:file getattr;
allow sdcardd vdc_exec:file getattr;
allow sdcardd vold_exec:file getattr;
allow sdcardd wcnss_filter_exec:file getattr;
allow sdcardd wpa_exec:file getattr;
allow sdcardd yep_qmi_server_exec:file getattr;
